$orange-main: #ED6C02;
$green-main: #2E7D32;
$red-main: #D32F2F;
$blue-main: #014361;

:export {
    orangeMain: $orange-main;
    greenMain: $green-main;
    redMain: $red-main;
    blueMain: $blue-main;
}
  